<template>
    <v-footer app color="#273746" dark>
        <v-row>
            <v-col class="text-center" cols="12">
                {{ new Date().getFullYear() }} — <strong> © Thomas CHABROL </strong>
            </v-col>
        </v-row>
    </v-footer>
</template>
